In [1]:
import os
import pandas as pd
import numpy as np

In [3]:
tourism_empl_Q3_18_Q1_19 = os.path.join("Employment Tourism Canada Q3 18 to Q1 19.csv")
tourism_empl_Q3_18_Q1_19_df = pd.read_csv(tourism_empl_Q3_18_Q1_19)
tourism_empl_Q3_18_Q1_19_df.head()

,"Employment generated by tourism (x 1,000) 1 2",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Quarterly,NaN,NaN,NaN
1,Table: 36-10-0232-01 (formerly CANSIM 387-0003),NaN,NaN,NaN
2,Geography: Canada,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,Seasonally adjusted,NaN,NaN