In [3]:
# Dependencies and Setup
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [4]:
#Stats Canada Provides Demographic data based on total infections between demographics 
#and hospitalizations rates so pulling all this data.

TotalCases = os.path.join("Resources/Total Cases.csv")
Demographic_Data = os.path.join("Resources/Demographic Data.csv")
Demographic_Data_Deceased = os.path.join("Resources/Demographic Data for deceased.csv")
Demographic_Data_Hospitalized = os.path.join("Resources/Demographic Data for Hospitalization.csv")
Demographic_Data_ICU = os.path.join("Resources/Demographic Data Admited ICU.csv")

Total_Cases = pd.read_csv(TotalCases)
Infection_Demo = pd.read_csv(Demographic_Data)
Deceased_Demo = pd.read_csv(Demographic_Data_Deceased)
Hospitalized_Demo = pd.read_csv(Demographic_Data_Hospitalized)
ICU_Demo = pd.read_csv(Demographic_Data_ICU)

ICU_Demo.head()

,Age group (years),Number of cases with case reports (proportion),Number of male cases (proportion),Number of female cases (proportion),Number of other cases (proportion)
0,0-19,47,26,21,0
1,20-29,106,47,59,0
2,30-39,162,93,69,0
3,40-49,312,196,116,0
4,50-59,664,438,226,0

In [5]:
Merge_1 = pd.merge(Infection_Demo,Deceased_Demo,how="right", on=["Age group (years)"])
Merge_2 = pd.merge(Merge_1,Hospitalized_Demo,how="right", on=["Age group (years)"])
All_data = pd.merge(Merge_2,Deceased_Demo,how="right", on=["Age group (years)"])

All_data.head()

,Age group (years),Number of cases with case reports (proportion)_x,Number of male cases (proportion)_x,Number of female cases (proportion)_x,Number of other cases (proportion)_x,Number of cases with case reports (proportion)_y,Number of male cases (proportion)_y,Number of female cases (proportion)_y,Number of other cases (proportion)_y,Number of cases with case reports (proportion)_x,Number of male cases (proportion)_x,Number of female cases (proportion)_x,Number of other cases (proportion)_x,Number of cases with case reports (proportion)_y,Number of male cases (proportion)_y,Number of female cases (proportion)_y,Number of other cases (proportion)_y
0,20-29,"43,033","21,142","21,784",4.0,10,7,3,0,485,195,290,0,10,7,3,0
1,30-39,"35,471","17,283","18,108",2.0,17,11,6,0,778,371,407,0,17,11,6,0
2,40-49,"33,687","15,620","17,988",3.0,62,42,20,0,"1,203",686,517,0,62,42,20,0
3,50-59,"31,502","14,872","16,582",2.0,243,139,104,0,"2,149","1,310",838,1,243,139,104,0
4,60-69,"19,848","10,193","9,628",1.0,735,457,278,0,"2,727","1,659","1,068",0,735,457,278,0